*.class

*.jar
*.war
*.ear

nb-configurations.xml
hs_err_pid*

.netbeans_automatic_built
pom.properties
*.lst
*.txt

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

